ffmpeg-python
pytesseract
pydantic
lm-format-enforcer
webvtt-py
numpy == 1.26.4
openai-whisper
Pillow
pdf2image
fastapi
psycopg[binary]
uvicorn
pgvector
ariadne
gql[all]
dapr
dapr-ext-fastapi
opencv-python
requests
tika
pypdf
pyyaml
annotated-types
bertopic
scikit-learn
requests
