ffmpeg-python
pytesseract~=0.3.10
python-pptx
transformers~=4.44.0
bitsandbytes
pydantic~=2.8.2
lm-format-enforcer
webvtt-py
numpy~=1.26.4
openai-whisper
Pillow~=10.4.0
levenshtein~=0.25.1
pdf2image~=1.17.0
sentence-transformers
fastapi~=0.112.0
psycopg~=3.2.1
uvicorn~=0.30.5
pgvector~=0.3.2
ariadne~=0.23.0
gql[all]~=3.5.0
dapr
dapr-ext-fastapi
bertopic~=0.16.3
scikit-learn~=1.5.1
torch~=2.4.0
requests~=2.32.3