ffmpeg-python
pytesseract
transformers
bitsandbytes
pydantic
lm-format-enforcer
webvtt-py
numpy
openai-whisper
Pillow
pdf2image
sentence-transformers
fastapi
psycopg[binary]
uvicorn
pgvector
ariadne
gql[all]
dapr
dapr-ext-fastapi
opencv-python
requests
tika
pypdf
peft
pyyaml
torch
annotated-types
bertopic
scikit-learn
requests